<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="navbar">
  <div class="nav-left">
    <a href="/" class="nav-item">
      <img src="/images/home.svg" class="icon" />
      <span>Home</span>
    </a>
    <a href="/quiz/create" class="nav-item">
      <img src="/images/plus.svg" class="icon" />
      <span>Tạo Quiz</span>
    </a>
  </div>
  
  <div class="nav-right">
    <img src="/images/hacker.png" class="avatar" />
    <span>Hi, <%= user?.name || 'Guest' %></span>
  </div>
</header>   
</body>
</html>